body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #dcd6d6;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#taskList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}


.task-card {
  background: rgb(72, 56, 56);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  color: aliceblue;
}

.task-card h3 {
  margin: 0;
}

button {
  cursor: pointer;
}
